<ion-content class="login-container">

  <div class="login-card">
    <!-- Columna izquierda -->
    <div class="login-left">
      <h2>Recuperación de Contraseña</h2>

      <label>Ingresa tu nueva contraseña</label>

      <div class="password-wrapper">
        <input
          [type]="show ? 'text' : 'password'"
          [(ngModel)]="password"
          placeholder="Ingresa tu Contraseña" />
        <button class="eye" type="button" (click)="toggle()" aria-label="Mostrar u ocultar contraseña">
          <ion-icon [name]="show ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </div>

      <button class="btn-primary" [disabled]="!isValid" (click)="onSave()">
        Guardar contraseña
      </button>

    </div>

    <!-- Columna derecha -->
    <div class="login-right">
      <h2><span class="highlight">¡Estás a un último paso!</span></h2>
      <p class="welcome-text">
        Con este último paso asegurarás tu cuenta en BeatNation,
        <b>ingresa tu contraseña</b>. No olvides anotarla por ahí.
      </p>

      <img class="login-img" src="assets/images/shapess.png" alt="reset-illustration" />
    </div>
  </div>

</ion-content>
