@media (min-width: 992px) {
  ion-menu-button { display: none !important; }
}
<<<<<<< HEAD
  
:host-context(ion-split-pane.split-pane-visible) ion-menu-button {
  display: none !important;
}
=======
>>>>>>> d3e00715681a8e4ac5207dc95788a6c450c63e4d
